@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

html, body {
    width: 100%;
    height: 100%;
    /*font-family: 'Lobster', cursive;*/
    /*font-size: 25px;*/
}

.navbar {
    background-color: rgba(200, 192, 181,0.9) !important;
    font-family: 'Lobster', cursive;
    font-size: 25px;
}
.navbar li a {
    color: black !important;
}
.navbar li a:hover{
    color: purple !important;
}
